html, body
{
	height: 100%;
	/* width: 100%; */
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	background: #0f1e41;
	font-family: 'Open Sans', sans-serif;

}

nav.navbar {
  transition: 0.5s;
	background-color: #f17b0e;
	font-family: 'Teko', sans-serif;
	padding-right: 5px;
}
nav.navbar a {
  transition: 0.5s;
}

nav.navbar.at_top {
  background-color: transparent;
	ackground-color: #f17b0e;
}
nav.navbar li:hover{
	background-color: #f17b0e;
	color: #fff;
}

nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: #fff;
	ackground-color: #f17b0e;
}

#header
{
/* 	background-attachment: fixed;
  background-position: -90% 90%;
background-size: 30px 60px;
  background-repeat: no-repeat;
-webkit-background-size: cover; */
	/*background-size: cover;*/
	height: 800px;
	/* width: 100%; */

	/* -ms-transform: rotate(3deg); IE 9
	  -webkit-transform: rotate(3deg); Chrome, Safari, Opera
	  transform: rotate(3deg); */
	padding: 200px;
	/* margin-left: 200px; */
	background-color: #0f1e41;
	/* background: linear-gradient(360deg, rgba(0, 0, 49, 1)34%, rgba(255, 255, 248, 1)98%);
	background: -moz-linear-gradient(360deg, rgba(0, 0, 49, 1)34%, rgba(255, 255, 248, 1)98%);
	background: -webkit-linear-gradient(360deg, rgba(0, 0, 49, 1)34%, rgba(255, 255, 248, 1)98%); */

}
#logo
{
	position: absolute;
	top: 7em;
	left: 0;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 6em;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFF;
	font-family: 'Teko', sans-serif;
	margin-left: -120px;
	margin-top: -100px;
	/* -ms-transform: rotate(-25deg); IE 9
	  -webkit-transform: rotate(-25deg); Chrome, Safari, Opera
	  transform: rotate(-25deg); */
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}
hr{
	color: #f17b0e;
	border: none;
	border-bottom: solid 4px;
	border-radius: 5px;
	width: 50px;
	margin-left: -120px;
	margin-top: 10px;
	animation: longer 3s infinite;
}
@keyframes longer{
	0%{
		width: 50px;
	}
	50%{
		width: 100px;
	}
	100%{
		width: 50px;
	}
}
section#section_card{
	height: 200px;
	background-color: #fff;

}
section#section_about{
	height: 250px;
	background-color: #fff;
	/* background-color: #f4f5f4; */
	/* z-index: 99; */

	/* position: relative; */
}
section#section_about p{
	font-family: 'Teko', sans-serif;
	color: #f17b0e;
	font-size: 40px;
	text-align: center;
	margin-top: 30px;
}
section#section_about .row{
	margin-left: 60px;
	margin-right: 60px;


}
.earth{
	width: 600px;
	margin-top: 270px;
	/* margin-left: 800px; */
	animation: jump 3s infinite;


}
.earth img{
	/* z-index: 0;
	position: absolute; */
	width: 300px;
	margin-top: 60px;
  margin-left: 750px;
}
/* @keyframes jump{
	0%{
		margin-top: 420px;
	}
	50%{
		margin-top: 390px;
	}
	100%{
		margin-top: 420px;

} */
.box{
	width: 600px;
	height: 400px;
	background-color: #fff;
	border: 5px solid #f17b0e;
	margin-left: 30%;
	margin-top: -200px;
	position: absolute;
	border-radius: 25px;
	box-shadow: 0px 0px 20px #b3b4b2;
	animation: jump 2s infinite;
}
/* @keyframes jump{
	0%{
		margin-top: -200px;
	}
	50%{
		margin-top: -180px;
	}
	100%{
		margin-top: -200px;
	}
} */
.sml img{
	animation: sml 1s infinite;
}
@keyframes sml{
	0%{
		margin-top: -70px;
	}
	50%{
		margin-top: -40px;
	}
	100%{
		margin-top: -70px;
	}
}
.circle{
	width: 70px;
	height: 70px;
	/* border-radius: 50%; */
	/* background-color: #f17b0e; */
	margin: 20px 40px 20px 40px;




}
.circle1{
	background-image: url("images/medium.svg");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px;
}

.circle2{
	background-image: url("images/github-logo.svg");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px;

}
.circle3{
	background-image: url("images/linkedin-logo.svg");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px;

}
.circle4{
	background-image: url("images/3d-outlined-shape.svg");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px;

}
.circle5{
	background-image: url("images/voicetube.png");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px;

}
.circle6{
	background-image: url("images/facebook-logo.svg");
	-webkit-background-size: cover;
	background-size: cover;
	padding: 20px;

}
.col-sm-2:hover{
	border: 4px solid #f17b0e;
	/* padding: 50px; */

}
/*timeline*/
#content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
#content h1{
	font-family: 'Teko', sans-serif;
	color: #f17b0e;
	font-size: 60px;
	padding-top: 50px;

}

.timeline {
  border-left: 4px solid #f17b0e;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);

  margin: 100px auto;
	margin-left: 25%;
  letter-spacing: 0.5px;
  /* position: relative; */
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 60%;
}
/* .timeline h1,
.timeline h2,
.timeline h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
} */
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #f17b0e;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
.timeline p{
	line-height: 30px;
	font-size: 16px;
}
li[data-date]{
	font-size: 17px;

}
/*section_skill*/
#section_skill{
	background-color: #fff;
	height: 600px;
	padding: 50px;

}
#section_skill h1{
	font-family: 'Teko', sans-serif;
	color: #f17b0e;
	font-size: 60px;
	padding-top: 40px;
	margin-left: 45%;
	margin-top: 0px;
}
.chart-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 30px 50px 30px;
  border: 1px solid #eeeeee;
}
.chart-wrap .chart-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.chart-wrap .row {
  position: relative;
  height: 26px;
  margin-bottom: 15px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #f17b0e;
  transition: all 1s;
  transform: translateX(-100%);
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
}
.chart-wrap .row:nth-of-type(1) .bar {
  transition: 1s 400ms;
}
.chart-wrap .row:nth-of-type(2) .bar {
  transition: 1s 600ms;
}
.chart-wrap .row:nth-of-type(3) .bar {
  transition: 1s 800ms;
}
.chart-wrap .row:nth-of-type(4) .bar {
  transition: 1s 1000ms;
}
.chart-wrap .row:nth-of-type(5) .bar {
  transition: 1s 1200ms;
}
.chart-wrap .row:nth-of-type(6) .bar {
  transition: 1s 1400ms;
}
.chart-wrap .row:nth-of-type(7) .bar {
  transition: 1s 1600ms;
}
.chart-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
	color: #0f1e41;
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .chart-wrap .row {
    padding: 0 40px 0 160px;
  }
  .chart-wrap .label {
    text-align: right;
    padding-left: 0;
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
}
/*section_award*/
#section_award{
	height: 700px;
	background-color: #f1f2f4;
}
#section_award h1{
	font-family: 'Teko', sans-serif;
	color: #f17b0e;
	font-size: 60px;
	padding-top: 40px;
	margin-left: 45%;
	margin-top: 0px;
}
#section_award .col-sm-12{
	padding: 20px;
	margin: 2%;
}
.square{
	height: 400px;
	background-color: #f17b0e;
	box-shadow: 10px 10px 15px #888888;
  margin: 2%;
	width: 20%;
}
